amqp==2.1.1
beautifulsoup4==4.5.1
billiard==3.5.0.2
celery==4.0.0
get==0.0.0
kombu==4.0.0
lxml==3.6.4
post==0.0.0
public==0.0.0
pytz==2016.7
query-string==0.0.0
redis==2.10.5
request==0.0.0
requests==2.12.3
setupfiles==0.0.0
slacker==0.9.30
SQLAlchemy==1.1.4
vine==1.1.3
